.footer {
    width: 100%;
    height: auto;
    background-color: #31C48D;
    /* background-color: white; */
    /* border: 5px solid red; */
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.box1 {
    /* border: 5px solid rgb(0, 255, 89); */
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.box2 {
    /* border: 5px solid rgb(205, 59, 59); */
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box2 h1 {
    font-size: 30px;
    font-weight: 500;
}

.box2 ul li {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3 {
    /* border: 5px solid rgb(64, 0, 255); */
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box1 h1 {
    font-size: 30px;
    font-weight: 500;
}
.box1 p{
    margin: 20px;
    font-size: 15px;
    font-weight: 500;
}
.box3 h1 {
    font-size: 30px;
    font-weight: 500;
}

.box3 ul li {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links li{
    /* border: 5px solid rgb(64, 0, 255); */
    color: black;
}
.footer-links li:hover{
    text-decoration: underline;
}
/* .icons{
    /* border: 5px solid rgb(64, 0, 255); */

@media(max-width: 968px){
    .footer{
        padding:15px;
    }
    .footer-links li{
        padding: 5px;
    }
   
}
@media(max-width: 868px){
    .footer{
        padding:10px;
    }
    .footer-links li{
        padding: 5px;
    }
}
@media(max-width: 668px){
    .footer{
        padding:7px;
    }
    .footer-links li{
        padding: 5px;
    }
}
@media(max-width: 568px){
    .footer{
        padding:4px;
    }
    .footer-links li{
        padding: 5px;
    }
}