.App {
  background-image: url("C:\Users\welcome\OneDrive\Desktop\test project\frontend\public\finalimage123456789.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkolivegreen;
  text-align: center;
}

